:root {
  --warna-pemasukan: #3bc6e9;
  --warna-pengeluaran: #ff396f;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

body {
  background-color: whitesmoke;
}

#header {
  background-color: rgb(96, 230, 140);
  clip-path: ellipse(87% 100% at 31.5% 0%);
  color: black;
  height: 200px;
  z-index: 1;
}

#saldo-box .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total-saldo {
  border-radius: 10px 10px;
  background: white;
  margin-top: -70px;
  z-index: 2;
  border: 1px solid rgb(68 68 68 / 15%);
}

.mini-saldo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
  text-align: center;
  flex: 1 1;
}

.mini-saldo-pemasukan {
  border-bottom-left-radius: 10px;
  border-right: 1px solid #eee;
  background-color: var(--warna-pemasukan);
}

.mini-saldo-pengeluaran {
  border-bottom-right-radius: 10px;
  border-left: 1px solid #eee;
  background-color: var(--warna-pengeluaran);
}

.list-transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: relative;
}
.list-transaction small {
  font-size: 0.7rem;
}

.list-pemasukan {
  border-left: 5px solid var(--warna-pemasukan);
}

.list-pengeluaran {
  border-left: 5px solid var(--warna-pengeluaran);
}

.list-pemasukan .text {
  color: var(--warna-pemasukan);
  white-space: nowrap;
}

.list-pengeluaran .text {
  color: var(--warna-pengeluaran);
  white-space: nowrap;
}

.list-transaction .delete-icon {
  background-color: var(--warna-pengeluaran);
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-top-right-radius: 3px 3px;
  line-height: 16px;
  opacity: 0;
}
.list-transaction:hover .delete-icon {
  opacity: 1;
  transition: all ease-in-out 0.4s;
}

.btn-primary {
  background-color: var(--warna-pengeluaran);
  border-color: var(--warna-pengeluaran);
}

.btn-primary:hover {
  background-color: var(--warna-pemasukan);
  border-color: var(--warna-pemasukan);
}

.btn-primary:focus {
  background-color: var(--warna-pemasukan);
  box-shadow: 0 0 0 0.25rem rgb(200 191 255);
}

.error-box {
  color: red;
}

.error-box ul {
  border: 1px solid var(--warna-pengeluaran);
}

.error-box p {
  margin: 0;
}

#footer {
  background-color: rgb(96, 230, 140);
  clip-path: ellipse(189% 100% at 143.13% 100%);
}
